node_modules/
dist/
out/
build/

app/data/*.json
app/data/*.jpg
app/data/*.png
app/data/*.log
app/data/*.tmp
app/data/*.new
app/data/*.bak
app/data/.net-bundle/

helper/*.exe
helper/*.pdb

desktop_host/publish/
desktop_host/bin/
desktop_host/obj/

helper_src/bin/
helper_src/obj/

*.pdb
*.log
.DS_Store
Thumbs.db

helper_src/publish/
